.forNEAR{
    margin-top: -17px;
}
.nearEMAIL{
    margin-top: -20px;
}

#LEFT-BORDER-in-left{
     border-width: 4px;
    border-left-style: dashed;
    height: 1020px;
    width: 600px;
   color: grey;
   display: inline-block;
}

.TEXT-DISTANCE-FROM-BORDER{
    margin-left: 20px;
    color:black; 
}

.no-distance-from-heading{
    margin-top: 0px;
}

.Line-height{
    line-height: 30px
}

#nearto2011{
    margin-bottom: 5px;
}

#LEFT-BORDER-in-right{

    border-width: 4px;
    border-left-style: dashed;
    color: gray;
    height: 1020px;
    width: 400px;
    display: inline-block;
    vertical-align: top;
}